.ranking-list {
  @include flexWrap;

  &__item {
    width: calc((100% - 6px) / 3);
    margin-top: 20px;

    &+& {
      margin-left: 3px;
    }

    &:nth-child(3n + 1) {
      margin-left: 0;
    }

    &:nth-child(-n + 3) {
      margin-top: 0;
    }

    &[data-ranking="1"],
    &[data-ranking="2"] {
      width: calc((100% - 3px) / 2);

      .ranking-list__ranking {
        width: 22px;
        height: 22px;
        background-color: #000;
        line-height: 22px;
      }

      .ranking-list__discount {
        font-size: 15px;
        line-height: 22px;
        letter-spacing: inherit;
      }
    }

    &[data-ranking="3"] {
      margin: 20px 0 0 0;
    }

    &[data-ranking="4"] {
      margin-left: 3px;
    }
  }

  &__img {
    margin-bottom: 10px;

    img {
      @include fullWidthImg;
    }
  }

  &__link {
    @include fullCoverImgBox(120%, 0);
    display: block;
    position: relative;
  }

  &__ranking {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #aaa;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    text-align: center;
  }

  &__brand {
    overflow: hidden;
    @include small-font-gray;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__price-wrap {
    @include flexAlignCenter;
    justify-content: space-between;
  }

  &__price {
    @include middle-font;
  }

  &__benefit {
    @include flexAlignCenter;
  }

  &__discount {
    font-weight: 500;
    font-size: 10px;
    color: #ff0000;
    line-height: 13px;
    letter-spacing: -.5px;

    &+.ranking-list__coupon {
      margin-left: 5px;
    }
  }

  &__coupon {
    flex-shrink: 0;
    padding: 2px 3px;
    background-color: #4162c9;
    border-radius: 2px;
    font-size: 10px;
    color: #fff;
  }
}