.product-info {
  &__title {
    font-size: 15px;
    line-height: 22px;
  }

  &__txt {
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    opacity: .65;
  }

  &__detail {
    @include small-font-gray;
    margin-top: 3px;
  }

  &__comment {
    position: relative;

    span+& {
      margin-left: 15px;

      &::before {
        content: '';
        position: absolute;
        left: -8px;
        top: 50%;
        width: 2px;
        height: 2px;
        margin-top: -1px;
        background-color: #777;
        border-radius: 50%;
      }
    }
  }

  &__date {
    display: flex;

    &-end {
      margin-left: 6px;
    }
  }

  &__show-case {
    padding: 2px 7px;
    border: 1px solid #eee;
    border-radius: 9px;
    font-weight: 500;
    font-size: 10px;
    color: #000;
    line-height: 14px;

    span+& {
      margin-left: 6px;
    }
  }
}