.coordi-style-list {
  @include flexWrap;

  &__item {
    position: relative;
    @include listItemTwo(3px);

    &--small {
      @include flexWrap;
    }
  }

  &__small-item {
    @include listItemTwo(3px);
    position: relative;
  }

  &__img {
    img {
      @include fullCoverImg;
    }
  }

  &__link {
    @include fullCoverImgBox(149.7076%, 6px);
  }

  &__play-icon {
    position: absolute;
    top: 12px;
    right: 10px;
  }

  &__title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #f9f9f9;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
}