.coordi-thumb-list {
  @include flexWrap;

  &__item {
    @include listItemTwo(25px);
  }

  &__product {
    @include flexAlignCenter;
  }

  &__thumb {
    position: relative;

    img {
      @include fullCoverImg;
    }

    &--big {
      margin-bottom: 10px;
    }

    &--small {
      flex-shrink: 0;
      width: 45px;
      height: 54px;
    }
  }

  &__link {
    @include fullCoverImgBox(149.7076%, 6px);
  }

  &__info {
    margin-left: 10px;
  }

  &__brand {
    @include small-font-gray;
  }

  &__price-wrap {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  &__discount {
    margin-left: 3px;
    color: #ff0000;
  }
}