.sub-visual-slider {
  margin: 60px 0;

  &:nth-last-of-type(1) {
    margin-bottom: 0;
  }

  &__link {
    display: block;
    position: relative;
  }

  &__img {
    position: absolute;
    top: 0;
    max-width: 135px;
  }

  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      @include textOverflow(40px, 2);
      font-weight: 500;
      line-height: 20px;
    }
  }

  .swiper {
    padding-bottom: 20px;
  }

  .swiper-slide {
    &[data-type="left"] {
      overflow: hidden;
      border-radius: 6px;

      .sub-visual-slider__img {
        left: 0;
      }

      .product-info {
        height: 90px;
        padding: 0 15px 0 150px;
        background-color: #f9f9f9;
      }
    }

    &[data-type="right"] {
      .sub-visual-slider__img {
        right: 0;
      }

      .product-info {
        height: 80px;
        padding: 0 125px 0 15px;
        background-color: #484848;
        border-radius: 6px;

        &__title {
          color: #fff;
        }

        &__date {
          color: #fff;
        }
      }
    }
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0;
  }

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background-color: #ccc;

    &-active {
      background-color: #000;
    }
  }
}