.update-news-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    @include listItemTwo(25px);
  }

  &__img {
    @include fullCoverImgBox(66.6%, 6px);
    position: relative;
    margin-bottom: 10px;

    img {
      @include fullCoverImg;
    }
  }

  &__title {
    @include textOverflow(44px, 2);
    margin-bottom: 3px;
    font-size: 15px;
    line-height: 22px;
  }

  &__info {
    @include small-font-gray;
  }

  &__comment {
    position: relative;
    margin-left: 14px;

    &::before {
      content: '';
      position: absolute;
      left: -7px;
      top: 50%;
      width: 2px;
      height: 2px;
      background-color: #777;
      border-radius: 50%;
      transform: translateY(-50%);
    }
  }
}