/* reset */
html {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
p,
form,
fieldset,
input,
table,
tr,
th,
td,
a,
strong,
span,
em,
button,
textarea,
header,
footer,
nav,
section,
aside,
article {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

ul,
ol,
li {
  list-style: none;
}

hr {
  position: absolute;
  left: -1000%;
  top: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

fieldset {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a {

  &:hover,
  &:active,
  &:visited {
    text-decoration: none;
  }
}

img {
  border: 0;
  vertical-align: top;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: 1.5;
  vertical-align: middle;
}

button {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  letter-spacing: inherit;
}

em,
address {
  font-style: normal;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th {
  font-weight: 700;
}

label {
  vertical-align: middle;
  cursor: pointer;
}

strong {
  font-weight: 700;
}

sup {
  font-size: 10px;
}

mark {
  background-color: #fff;
}

input[type=text] {
  &::-ms-clear {
    display: none;
  }
}

.main {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

.blind {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}