.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50px;

  &__left {
    position: absolute;
    left: 16px;
  }

  &__right {
    position: absolute;
    right: 16px;

    button+button {
      margin-left: 20px;
    }
  }

  &__logo {
    &-link {
      display: block;
      font-size: 18px;
      color: #000;
      letter-spacing: 1px;
    }
  }
}