.update-news-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    @include listItemTwo(25px);
  }

  &__img {
    margin-bottom: 10px;

    img {
      @include fullCoverImg;
    }
  }

  &__link {
    @include fullCoverImgBox(66.6%, 6px);
  }
}