.update-product-content {
  margin-bottom: 30px;

  &:nth-last-of-type(1) {
    margin-bottom: 0;
  }

  &__top {
    position: relative;
    margin-bottom: 10px;
  }

  &__list {
    @include flexWrap;
  }

  &__item {
    @include fullCoverImgBox(29.7619%, 0);
    position: relative;
    width: calc((100% - 9px) / 4);
    margin-top: 4px;

    &+& {
      margin-left: 3px;
    }

    &:nth-child(5n) {
      margin-left: 0;
    }

    &:nth-child(-n + 4) {
      margin-top: 0;
    }

    img {
      @include fullWidthImg;
    }
  }

  &__rest-item {
    @include flexAlignCenter;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc((100% - 9px) / 4);
    height: calc(50% - 2px);
  }

  &__rest-num {
    @include flexAlignCenter;
    margin-bottom: 2px;
    font-size: 10px;
    line-height: 24px;

    span {
      margin-right: 2px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__rest-btn {
    padding: 2px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
  }
}