.main-tab {
  display: flex;
  margin: 30px 15px 25px;
  background-color: #f5f5f5;
  border-radius: 6px;

  &__btn {
    flex: 1;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 500;
    font-size: 13px;
    color: #aaa;
    line-height: 38px;
    text-align: center;

    &--active {
      background-color: #fff;
      border-color: #eee;
      color: #000;
    }
  }
}