.ranking-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: calc((100% - 6px) / 3);
    margin-top: 20px;

    &+& {
      margin-left: 3px;
    }

    &:nth-child(3n + 1) {
      margin-left: 0;
    }

    &:nth-child(-n + 3) {
      margin-top: 0;
    }

    &[data-ranking="1"],
    &[data-ranking="2"] {
      width: calc((100% - 3px) / 2);

      .ranking-list__ranking {
        width: 22px;
        height: 22px;
        background-color: #000;
        line-height: 22px;
      }
    }

    &[data-ranking="2"]+.ranking-list__item {
      margin-top: 20px;
    }
  }

  &__img {
    position: relative;
    height: 0;
    padding-bottom: 120%;
    margin-bottom: 10px;

    img {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
    }
  }

  &__ranking {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #aaa;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    text-align: center;
  }

  &__brand {
    overflow: hidden;
    font-size: 12px;
    color: #777;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__price-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
  }

  &__benefit {
    display: flex;
    align-items: center;
  }

  &__discount {
    font-weight: 500;
    font-size: 10px;
    color: #ff0000;
    line-height: 13px;
    letter-spacing: -.5px;

    &+.ranking-list__coupon {
      margin-left: 5px;
    }
  }

  &__coupon {
    flex-shrink: 0;
    padding: 2px 3px;
    background-color: #4162c9;
    border-radius: 2px;
    font-size: 10px;
    color: #fff;
  }
}